@charset 'UTF-8';
/* Slider */

/* Arrows */
.slick-prev{position:absolute; top: 50%; left:-125px; transform: translate(0, -50%); z-index:2; transition: all .3s ease; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; cursor: pointer;}
.slick-prev:hover{left:-120px;}
.slick-next{position:absolute; top: 50%; right:-125px; transform: translate(0, -50%); z-index:2; transition: all .3s ease; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; cursor: pointer;}
.slick-next:hover{right:-120px;}


.slick-prev02{position:absolute; top: 50%; left:-40px; width:50px; transform: translate(0, -50%); cursor: pointer; z-index:1;}
.slick-next02{position:absolute; top: 50%; right:-40px; width:50px; transform: translate(0, -50%); cursor: pointer; z-index:1;}

.slick-prev03{position:absolute; top: 50%; left:50px; transform: translate(0, -50%); cursor: pointer; z-index:1; opacity:0.5; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.slick-prev03:hover{opacity:1;}
.slick-next03{position:absolute; top: 50%; right:50px; transform: translate(0, -50%); cursor: pointer; z-index:1; opacity:0.5; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.slick-next03:hover{opacity:1;}


.slick-prev04{position:absolute; top: 50%; left:20px; width:50px; transform: translate(0, -50%); cursor: pointer; z-index:1;}
.slick-next04{position:absolute; top: 50%; right:20px; width:50px; transform: translate(0, -50%); cursor: pointer; z-index:1;}



/* Dots */
.slick-dotted.slick-slider{position:relative;}
.slick-dots{position: absolute; bottom: 45px; left:20%;}
.slick-dots li{position: relative; display: inline-block;}
.slick-dots li button{font-size:0; line-height:0; display:nline-block; float:left; width:14px; height:14px; margin:3px; border:1.6px solid #fff; transition: all .3s ease; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; cursor: pointer; border-radius:20px;}
.slick-dots li button:hover, .slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{}
.slick-dots li.slick-active button{width:14px; height:14px; background:rgba(255,255,255,1);}


.mobile-dots.slick-slider{position:relative;}
.mobile-dots{position: absolute; bottom: 20px; left:50%; transform:translate(-50%, 0);}
.mobile-dots li{position: relative; display: inline-block;}
.mobile-dots li button{font-size:0; line-height:0; display:nline-block; float:left; width:14px; height:14px; margin:3px; border:3px solid #fff; transition: all .3s ease; -webkit-transition: all .3s ease; -ms-transition: all .3s ease; cursor: pointer; border-radius:20px;}
.mobile-dots li button:hover, .slick-dots li button:focus{outline: none;}
.mobile-dots li button:hover:before, .slick-dots li button:focus:before{}
.mobile-dots li.slick-active button{width:14px; height:14px; background:rgba(255,255,255,1);}


/* 슬라이드 프로그래스 바 시작 */
.progress-bar{position:absolute; width:100%; height:5px; bottom:0px;  left:0px; padding:0px; margin:0px; background:rgba(255,255,255,.20);}
.progress-bar p{position:absolute; float:left; width:0px; height:5px; background:#00b0ff; left:0px; bottom:0px;}
.slick-active .progress-bar p{width:100%; animation:progress-bar 11s both;}

@-webkit-keyframes progress-bar{from{width:0px;}to{width:100%;}}
@keyframes progress-bar{from{width:0px;}to{width:100%;}}
/* 슬라이드 프로그래스 바 끝 */